* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
}
section {
  scroll-margin: 90px;
}

.home-page {
  background-image: url(https://templatemo.com/templates/templatemo_506_tinker/img/banner_bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.content {
  max-width: 1250px;
  min-height: 100vh;
}
.header {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  left: 0;
  width: 100%;
}
.header em {
  font-style: normal;
  color: #f7c552;
  font-size: 32px;
}
.nav-brand {
  font-family: 'opensans', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: #fff;
}
.navbar-name {
  list-style: none;
  display: flex;
  margin-left: auto;
}
.nav-item {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 50px;
  margin-left: 45px;
  text-decoration: none;
}
.container {
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30vh;
}
.container em {
  color: #f89624 !important;
  font-size: 30px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
}
.container span {
  color: #33c1cf !important;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
}
.home-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}
.home-text {
  padding: 0 25%;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.home-btn {
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  padding: 12px 18px;
  font-weight: 500;
  color: #121212;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 20px;
}
/*about page*/
.about-page {
  background-image: url(https://templatemo.com/templates/templatemo_506_tinker/img/about-bg.jpg);
  background-attachment: fixed;
}
.navbar {
  background-color: rgba(250, 250, 250, 0.98);
}

.card {
  max-width: 280px;
  min-height: 500px;
  padding-top: 30px;
  margin-right: 25px;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
}
.bi {
  font-size: 50px;
  background-color: #f7c552;
  border-radius: 50%;
  color: white;
  padding: 10px 0;
  border: 3px solid white;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100px;
}
.about-text {
  padding: 150px 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-wrap: wrap;
}
.about-card-title {
  font-size: 17px;
  margin-top: 45px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.underline {
  width: 100%;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.5);
  margin: 20px auto 15px auto;
}
.about-card-para {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin-top: 30px;
}
.about-card-btn {
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  color: #fff;
  background-color: #33c1cf;
  padding: 12px 18px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .card {
    min-width: 700px;
  }
}
@media (max-width: 991px) {
  .card {
    min-width: 400px;
  }
}
/*gallery-page*/
.gallery-page {
  background-color: rgba(250, 250, 250, 0.5);
}
.gallery-card {
  max-width: 500px;
  background-color: #33c1cf;
  padding-left: 100px;
  color: #fff;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-right: 100px;
}
.gallery-card-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.gallery-card-para {
  font-size: 14px;
  line-height: 24px;
  width: 270px;
}
.gallery-underline {
  width: 270px;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.5);
}
.gallery-items {
  margin-top: 60px;
  list-style: none;
  padding-left: 0;
}
.filter-item {
  margin: 0 10px 15px 0;
}
.active {
  color: #f7c552 !important;
}
.gallery {
  display: grid;
  grid-template-columns: 500px auto;
}
.gallery-images {
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
}
@media (max-width: 460px) {
  .pic {
    max-width: 300px;
  }
}
.portfolio-page {
  background-color: #f7c552;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-box {
  background-color: #fff;
  max-width: 500px;
}
.portfolio-para {
  padding: 20px;
  color: #9a9a9a;
  font-size: 16px;
  font-style: italic;
  border-radius: 5px;
}
/*blog*/
.blog-page {
  background-image: url(https://templatemo.com/templates/templatemo_506_tinker/img/blog-bg.jpg);
  background-attachment: fixed;
}
.blog-content {
  display: flex;
  flex-wrap: wrap;
}
.blog-card {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 500px;
  padding: 50px 0;
  padding-left: 80px;
  padding-right: 50px;
}
@media (max-width: 980px) {
  .blog-card {
    max-width: 700px;
  }
  .blog-content {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .blog-card {
    max-width: 500px;
  }
}
.blog-card-heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
.blog-underline {
  max-width: 270px;
  height: 1px;
  background-color: #fff;
}
.blog-card-para {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  padding-right: 70px;
}
.blog-info {
  display: flex;
  flex-direction: column;
}
.blog-link {
  text-decoration: none;
  color: #121212;
}
.blog-heading {
  background-color: #fff;
  margin: 10px 0;
  padding: 12px 12px;
  text-align: center;
  max-width: 270px;
  text-transform: capitalize;
  font-size: 15px;
}
.blog-intro-heading {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}

.blog-intro {
  max-width: 700px;
  background-color: #fff;
  max-height: 450px;
  margin-left: 30px;
  margin-top: 30px;
}
@media (max-width: 460px) {
  .blog-intro {
    max-width: 350px;
  }
  .blog-intro img {
    max-width: 350px;
  }
}
.blog-intro-para {
  color: #7a7a7a;
  font-size: 14px;
  line-height: 24px;
  margin: 10px 0;
}
.information {
  padding: 20px;
}
/*contact page*/
.contact-page {
  background-color: #596065;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-card {
  max-width: 400px;
  text-align: center;
}
.contact-card-heading {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}
.contact-card-para {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}
.contact-card-btn {
  color: #fff;
  background-color: #33c1cf;
  font-size: 13px;
  text-transform: uppercase;
  padding: 12px 18px;
  border: none;
  border-radius: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 30px;
}
/*footer*/
.footer {
  background-color: #373a3c;
  padding: 50px 0;
  margin-top: -6px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .d-flex {
    justify-content: center;
    align-items: center;
  }
  .tinker {
    margin-bottom: 30px;
  }
  .location {
    margin-bottom: 30px;
  }
  .more-info {
    margin-bottom: 30px;
  }
  .footer-heading {
    margin-bottom: 15px !important;
  }
}
.footer-title em {
  color: #f89624;
  font-style: normal;
  font-size: 28px;
}
.footer-title {
  color: #fff;
  font-size: 21px;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer-text {
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: -10px;
  line-height: 24px;
}
.footer-heading {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}
.footer-text em {
  font-weight: 500;
  font-style: normal;
}
.d-flex {
  display: flex;
}
.line {
  width: 1px;
  height: 55px;
  background-color: #fff;
  margin: 0 10px;
}
.bi-1 {
  background-color: #fff;
  border-radius: 50%;
  color: #373a3c;
  padding: 5px 5px;
  font-size: 15px;
}
