* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.home-page{
  background-image: url(https://templatemo.com/templates/templatemo_506_tinker/img/banner_bg.jpg);
  height: 1000px;
  background-repeat: no-repeat;
}
.header{
  display: flex;

}
